body{
   /* background-color: darkgreen;

    background-color: #2f9e41;*/

    background: linear-gradient(rgb(89, 221, 89), rgb(31, 61, 29));
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: white;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 2vw;
    padding: 2vw;
    
    /* FIXAR O MENU NO TOPO
    position: sticky;
    top: 0; */
}


.logo{
    flex: 1;

}

.logo img {
    width: 300px;
}

.menu{
    flex: 3;
    font-size: 1.5vw;
    text-align: center;
    align-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    color: darkgreen;
    padding: 7px;
    margin: 5px;
    background-color: rgb(155, 176, 134);
    border-radius: 1vw;
    font-size: 100%;
    font-weight: bold;
    transition: 0.5s ease-in-out;

}

.menu p{
    margin: 0;
    padding: 0;
    font-size: 70%;
    font-weight:100;

}
.menu a:hover {
    color: white;
    text-shadow: 0.1rem 0.1rem 0.4rem black;
    
}

.section_da_home{
    display: flex;
    flex-direction: row;
    padding-top: 3vw;
}

.apresentacao_da_home{
    flex: 1;
    
    margin-left: 1vw;
    margin-right: 1vw;
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
   
}

.apresentacao_da_home h1 {
    font-size: 2.8vw;
    margin: 0;
    font-style: italic;
    color: rgb(217, 225, 209);
   
}

.apresentacao_da_home h4 {
    font-size: 1.5vw;
    margin: 0;
    font-style: italic;
    color: rgb(157, 183, 131);
    font-weight: normal;
}



.apresentacao_da_home p{
    font-size: 1.5vw;
    font-style: italic;
    color: rgb(217, 225, 209);
    margin-bottom: 0.5vw;
    
}
.apresentacao_da_home h5 {
    font-size: 1vw;
    margin: 0;
    padding-top: 0;
    font-style: italic;
    color: rgb(157, 183, 131);
    font-weight: normal;
}
.fotos_da_home{
    flex: 1;
    
   

}

.fotos_da_home img {
    width: 95%;
    border: 2px solid rgb(135, 164, 106);
    
}

.rodape{

    display: flex;
   
    background-color: black;
    flex-direction: column;
    text-align: center;
    margin-top: 1vw;
   
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}



.titulo_dos_contatos{
    flex: 1 100%;
 
     
  }

.titulo_dos_contatos h4, h6 {
    color: rgb(194, 206, 182);
    padding: 0px;
    margin-top: 1vw;
    margin-bottom: 0;
}

.titulo_dos_contatos h5 {
    color: rgb(157, 183, 131);
    padding: 0;
    margin: 0;
}
  


.mais_informacaoes_contatos{
    flex: 1 100%;
    font-size: 10px;


}








.geral{
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    .cabecalho, .section_da_home{
        flex-direction: column;
        flex: 1 100%;
    }

    

    .cabecalho{
        width: 90%;
        align-self: center;

    
    }
   
    .menu{
        display: flex;
        flex-direction: column;
        font-size: 100%;
    }

    .menu a{
        font-size: 120%;
    }

    .menu p{
        font-weight: normal;
        font-size: 70%;
    }

    .apresentacao_da_home p {
        font-size: 4vw;
        text-align: center;
        color: rgb(217, 225, 209);
        padding: 5px;
        margin-bottom: 0;
    }

    .apresentacao_da_home h5 {
        font-size: 3.5vw;
        
        font-style: italic;
        color: rgb(157, 183, 131);
        text-align: center;
        margin-bottom: 5px;
        padding: 5px;
}

    .apresentacao_da_home h1 {
        text-align: center;
        color: rgb(217, 225, 209);
        font-size: 7vw;
    }

    .apresentacao_da_home h4 {
        font-size: 5vw;
        margin: 0;
        font-style: italic;
        color: rgb(157, 183, 131);
        text-align: center;
    }

    .geral .section_da_home {
        order: 0;
    }

    .geral .cabecalho{
        order: 1;
    }

    .geral .rodape{
        order: 2;
        margin-top: 2vw;
   
    }
    .fotos_da_home{
        text-align: center;
    }

    .fotos_da_home img{
        margin-top: 10px;
    }
    .logo img {
        width: 250px;
    }

    .titulo_dos_contatos h6 {
        margin: 10px;
    }

    .titulo_dos_contatos h5 {
        font-weight: normal;
    }

    .titulo_dos_contatos {
        margin-top: 10px;
    }

    body{
        background: linear-gradient(rgb(31, 61, 29), rgb(89, 221, 89));
       
    }
   
    



}




