body {
    background-color: rgb(48, 117, 163);
}
section{
    display: flex;
    flex-direction: row;
}
.geral{
 text-align: center;

}
img{
    width: auto;
}
.imagem {
    display: flex;
    text-align: center;
    flex-direction: row;
}
.texto {
    color: black;
}

.imgbanner{

    flex:1;
    height: 50vw;
    width: 50vw;
    border: 2px solid white;
    margin: 10px;
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
}
.home{
   
    width: 10%;
    height: 10%;
    transition: 1.5s;
    text-align: center;

}

p{
    text-indent: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vw;
}
.pleft{
    text-align: left;
    flex:1;
    padding: 10px;
}
.pright{
    text-align: right;
    flex:1;
    padding: 10px;
}
.espaco{
    margin-right: 40px;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.div1{
    margin-left: 80%;
    
}
.imgtexto2{
    flex-direction: row-reverse;
}

.ptingl {
    flex: 1 100%;
    padding: 10px;
    
}

.mais_fotos{
    display: flex;
    flex-direction: row;
    
}
.fotos_acrescentadas{
width: 100%;
}

.fotos_acrescentadas  img{
    flex: 1;
    width: 95%;
    margin: 5px;
    border: 2px solid white;
}

@media (max-width:600px) {

p{
    font-size: 5vw;
}
.pleft, .pright{
    text-align: center;
}
 .imgtexto2{
    flex-direction: column;
    align-items: center;
    

 }
 .imgtexto3{
    flex-direction: column;
    align-items: center;
 }
 #espaco{
    margin-right: 0px;
 }

 .imgbanner{

   width: 95%;
}

.mais_fotos{
    flex-direction: column;
}

.home {
    text-align: center;
    width: 95%;
}

}